.employees-holidays-graph {
  position: relative;

  &__current-day {
    position: absolute;
    left: auto;
    top: 25px;
    height: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &:after {
      content: "";
      display: block;
      width: 2px;
      height: 100%;
      background-color: #CFE9EE;
    }

    span {
      display: flex;
      height: 23px;
      align-items: center;
      white-space: nowrap;
      background-color: #CFE9EE;
      border-radius: 5px;
      padding: 0 4px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;
      color: black;
    }
  }
}

.employees-holidays-graph-row {
  display: grid;
  grid-template-columns: 200px repeat(12, 1fr);
  

  &>div {
    padding: 6px 9px;
    border-right: 1px solid #d9d9d9;
  }

  &>div:first-child {
    border-radius: 23px 0 0 23px;
    padding-left: 6px;
  }

  &>div:last-child {
    border-radius: 0 23px 23px 0;
    border-right: 0;
    padding-right: 6px;
  }

  &:hover>div {
    background-color: white;
    cursor: default;
  }

  &.months>div {
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    color: black;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.months:hover>div {
    background-color: transparent;
  }

  // Months
  div[data-month] {
    display: flex;
    padding: 0;
  }

  // Days
  span[data-day] {
    width: 100%;
    flex-grow: 1;
    position: relative;

    .holidays {
      display: block;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      left: 0;
      height: 14px;
      margin-top: -7px;
      background-color: #2067b0;
      z-index: 5;

      &.past {
        background-color: #E1E1E1;

        .holiday-popup__link {
          display: none;
        }
      }

      &:hover {
        .holiday-popup-wrapper {
          display: block;
        }
      }
    }
  }
}

.employee-info {
  display: flex;
  gap: 10px;

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &__name-and-post {
    strong {
      display: block;
      font-size: 12px;
      line-height: 13px;
      font-weight: 600;
      color: #535C69;
    }

    small {
      font-size: 10px;
      line-height: 11px;
      color: #717A84;
    }
  }
}